
@using System.Collections
@using Umbraco.NoiThat.Core
@using Umbraco.NoiThat.Core.Helpers
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.NoiThat.Core.ViewModels.HomeFeatureProjectViewModel>

<!-- PROJECT -->
<div class="row-project">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="60" data-smobile="60"></div>
                <div class="themesflat-headings style-1 text-center clearfix">
                    <h2 class="heading">HÌNH ẢNH THI CÔNG</h2>
                    <div class="sep has-icon width-125 clearfix">
                        <div class="sep-icon">
                            <span class="sep-icon-before sep-center sep-solid"></span>
                            <span class="icon-wrap"><i class="autora-icon-build"></i></span>
                            <span class="sep-icon-after sep-center sep-solid"></span>
                        </div>
                    </div>
                    <p class="sub-heading">@Model.FeatureProjectIntro</p>
                </div>
                <div class="themesflat-spacer clearfix" data-desktop="30" data-mobile="35" data-smobile="35"></div>

                <div class="themesflat-project style-2 isotope-project has-margin mg15 data-effect clearfix">
                    @foreach (var item in Model.FeatureProjectContentItems)
                    {
                        if (item.FeatureProjectContentSelected is ProjectDetail projectDetail)
                        {
                            <div class="project-item villa">
                                <div class="inner">
                                    <div class="thumb data-effect-item has-effect-icon w40 offset-v-19 offset-h-49">
                                        @if (projectDetail.PageMainImage != null)
                                        {
                                            <img src="@projectDetail.PageMainImage.Url" alt="@projectDetail.PageTitle">
                                        }
                                        else
                                        {
                                            <img src="/themeassets/not-available.png" />
                                        }

                                    </div>
                                    <div class="text-wrap">
                                        <h5 class="heading"><a href="@projectDetail.Url">@projectDetail.PageTitle</a></h5>
                                    </div>
                                </div>
                            </div><!-- /.product-item -->
                        }
                    }
                </div><!-- /.themesflat-project -->
                
                <div class="themesflat-spacer clearfix" data-desktop="41" data-mobile="35" data-smobile="35"></div>
                <div class="elm-button text-center">
                    <a href="~/projects" class="themesflat-button bg-accent">TẤT CẢ</a>
                </div>
                <div class="themesflat-spacer clearfix" data-desktop="73" data-mobile="60" data-smobile="60"></div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    <div class="bg-parallax-overlay overlay-black"></div>
</div>
<!-- END PROJECT -->