@using Umbraco.NoiThat.Core
@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    var homePage = (Home)Model.Root();
    var socialLinks = homePage.SocialLinkList.ToList();
}


<footer id="footer" class="clearfix">
    <div id="footer-widgets" class="container">
        <div class="themesflat-row gutter-30">
            <div class="col span_1_of_3">
                <div class="widget widget_text">
                    <div class="textwidget">
                        <p>
                            <img src="~/themeassets/assets/img/logo.png" alt="Image" width="150" height="auto">
                        </p>

                        <p class="margin-bottom-15">Chúng tôi có trên 10 năm kinh nghiệm trong lĩnh vực thi công nội thất và công trình xây dựng</p>

                        <ul>
                            <li>
                                <div class="inner">
                                    <span class="fa fa-map-marker"></span>
                                    <span class="text">@homePage.Address</span>
                                </div>
                            </li>

                            <li>
                                <div class="inner">
                                    <span class="fa fa-phone"></span>
                                    <span class="text">ĐIỆN THOẠI : @homePage.Phone</span>
                                </div>
                            </li>

                            <li class="margin-top-7">
                                <div class="inner">
                                    <span class=" font-size-14 fa fa-envelope"></span>
                                    <span class="text"><a style="color: whitesmoke" href="mailto:@homePage.Email">@homePage.Email</a></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.widget_text -->
                <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="0" data-smobile="35"></div>
            </div><!-- /.col -->

            <div class="col span_1_of_3">
                <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="0" data-smobile="0"></div>

                <div class="widget widget_lastest">
                    <h2 class="widget-title"><span>Thông tin</span></h2>
                    @{ var selection = Model.Root().Children.FirstOrDefault(x => x.GetTemplateAlias() == "externalPages")?.Children.Where(c=>c.IsVisible()).ToArray();}

                    @if (selection != null && selection.Length > 0)
                    {
                        <ul class="lastest-posts data-effect clearfix">
                            @foreach (var item in selection)
                            {
                                <li class="clearfix">
                                    <div class="text">
                                        <h3><a href="@item.Url">@item.Name</a></h3>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                </div><!-- /.widget_lastest -->
            </div><!-- /.col -->

            <div class="col span_1_of_3">
                <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="35" data-smobile="35"></div>

                <div class="widget widget_maps">
                    <h2 class="widget-title margin-bottom-30"><span>Địa điểm</span></h2>
                    <div>@Html.Raw(homePage.FooterMap)</div>
                </div>
            </div><!-- /.col -->

            <div class="col span_1_of_3">
                <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="35" data-smobile="35"></div>

                <div class="widget widget_instagram">
                    <h2 class="widget-title margin-bottom-30"><span>Mạng xã hội</span></h2>
                    <div class="instagram-wrap data-effect clearfix col3 g10">
                        <!--External Html-->
                        @if (string.IsNullOrEmpty(homePage.FooterFanpageFacebook) == false)
                        {
                            @Html.Raw(homePage.FooterFanpageFacebook)
                        }
                    </div>
                </div><!-- /.widget_instagram -->
            </div><!-- /.col -->
        </div><!-- /.themesflat-row -->
    </div><!-- /#footer-widgets -->
</footer><!-- /#footer -->
<!-- Bottom -->
<div id="bottom" class="clearfix has-spacer">
    <div id="bottom-bar-inner" class="container">
        <div class="bottom-bar-inner-wrap">
            <div class="bottom-bar-content">
                <div id="copyright">
                    ©@DateTime.Now.Year . Design and develop by <span class="text"><a href="https://www.facebook.com/romeohuy" class="text-accent">Romeo Huy</a></span>
                </div>
            </div><!-- /.bottom-bar-content -->

            <div class="bottom-bar-menu">
                @Html.Partial("~/Views/Partials/FooterNavigationPartial.cshtml")
            </div><!-- /.bottom-bar-menu -->
        </div><!-- /.bottom-bar-inner-wrap -->
    </div><!-- /#bottom-bar-inner -->
</div><!-- /#bottom -->
