@inherits Umbraco.Web.Mvc.UmbracoViewPage

@using Umbraco.NoiThat.Core
@using Umbraco.Web.Models
@inherits UmbracoViewPage

@{
    var homePage = (Home)Model.Root();
    var socialLinks = homePage.SocialLinkList.ToList();
}

<div id="site-header-wrap">
    <!-- Top Bar -->
    <div id="top-bar">
        <div id="top-bar-inner" class="container">
            <div class="top-bar-inner-wrap">
                <div class="top-bar-content">
                    <div class="inner">
                        
                        <span class="address content">@homePage.Times</span>
                        <span class="phone content">@homePage.Phone</span>
                        <span class="time content">@homePage.Times</span>
                    </div>
                </div><!-- /.top-bar-content -->

                <div class="top-bar-socials">
                    <div class="inner">
                        <span class="text">Theo dõi tại:</span>
                        @if (socialLinks.Any())
                        {
                            <span class="icons">
                                @foreach (var item in socialLinks)
                                {
                                   
                                    <a href="@item.Link.Url" target="@item.Link.Target">
                                        <i class="fa @item.IconClass"></i>
                                    </a>
                                }
                            </span>

                        }

                    </div>
                </div><!-- /.top-bar-socials -->
            </div>
        </div>
    </div><!-- /#top-bar -->
    <!-- Header -->
    <header id="site-header">
        <div id="site-header-inner" class="container">
            <div class="wrap-inner clearfix">
                <div id="site-logo" class="clearfix">
                    <div id="site-log-inner">
                        <a href="/" rel="home" class="main-logo">
                            <img src="/themeassets/assets/img/logo.png" alt="Autora" width="150" height="auto" data-retina="/themeassets/assets/img/logo.png" data-width="169" data-height="39">
                        </a>
                    </div>
                </div><!-- /#site-logo -->

                <div class="mobile-button">
                    <span></span>
                </div><!-- /.mobile-button -->
                <!--Main nav-->
                @Html.Partial("~/Views/Partials/MainTopNavigationPartial.cshtml")
                <!-- /#main-nav -->

                @*<div id="header-search">
                    <a href="#" class="header-search-icon">
                        <span class="search-icon fa fa-search">
                        </span>
                    </a>

                    <form role="search" method="get" class="header-search-form" action="#">
                        <label class="screen-reader-text">Search for:</label>
                        <input type="text" value="" name="s" class="header-search-field" placeholder="Search...">
                        <button type="submit" class="header-search-submit" title="Search"><i class="fa fa-search"></i></button>
                    </form>
                </div>*@<!-- /#header-search -->
            </div><!-- /.wrap-inner -->
        </div><!-- /#site-header-inner -->
    </header><!-- /#site-header -->
</div>