@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{ var selection = Model.Root().Children.Where(x => x.IsVisible()).ToArray(); }

@if (selection.Length > 0)
{
    
    <nav id="main-nav" class="main-nav">
        <ul id="menu-primary-menu" class="menu">
            <li class="menu-item">
                <a href="/">Trang Chủ</a>
            </li>

            @foreach (var item in selection)
            {
                
            <li class="menu-item menu-item-has-children @(item.IsAncestorOrSelf(Model) ? "current-menu-item" : null)">
                @if (item.ContentType.Alias.Equals("externalPages"))
                {
                    <a href="#">@item.Name</a>
                    if (item.Children.Any())
                    {
                        <ul class="sub-menu">
                            @foreach (var childItem in item.Children)
                            {
                                <li class="menu-item"><a href="@childItem.Url">@childItem.Name</a></li>
                            }
                        </ul>
                    }
                }
                else
                {
                    <a href="@item.Url">@item.Name</a>
                }
            </li>
            }

        </ul>
    </nav>
}