@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.NoiThat.Core.BlogDetail>
@using Umbraco.NoiThat.Core;
@using System.Globalization;
@{
    Layout = "masterPageBlogs.cshtml";

}

@{
    var BlogList = Model.Parent<Blogs>().Children.Cast<BlogDetail>();
    Page.Title = Model.BlogDeatilTitle;
    Page.MetaDescription = Model.MetaDescription;
    Page.MetaKeywords = string.Join(", ", Model.MetaKeywords.ToList());
}

@*@section FeaturedTitleBlock{
    <div id="featured-title" class="featured-title clearfix">
        <div id="featured-title-inner" class="container clearfix">
            <div class="featured-title-inner-wrap">
                <div id="breadcrumbs">
                    <div class="breadcrumbs-inner">
                        <div class="breadcrumb-trail">
                            <a href="/" class="trail-begin">Trang chủ</a>
                            <span class="sep">|</span>
                            <span class="trail-end">@Model.BlogDeatilTitle</span>
                        </div>
                    </div>
                </div>
                <div class="featured-title-heading-wrap">
                    <h1 class="feautured-title-heading">
                        Blog Single
                    </h1>
                </div>
            </div><!-- /.featured-title-inner-wrap -->
        </div><!-- /#featured-title-inner -->
    </div>
}*@
<div class="themesflat-headings style-1 text-center clearfix">
    <div class="themesflat-spacer clearfix" data-desktop="40" data-mobile="35" data-smobile="35"></div>
    <h2 class="home-heading heading">@Model.BlogDeatilTitle</h2>
    <div class="sep has-icon width-125 clearfix">
        <div class="sep-icon">
            <span class="sep-icon-before sep-center sep-solid"></span>
            <span class="icon-wrap"><i class="autora-icon-build"></i></span>
            <span class="sep-icon-after sep-center sep-solid"></span>
        </div>
    </div>

</div>
<div id="site-content" class="site-content clearfix">
    <div id="inner-content" class="inner-content-wrap">
        <article class="hentry data-effect">
            <div class="post-media data-effect-item has-effect-icon offset-v-25 offset-h-24 clerafix">
                <a href="page-blog-single.html"><img src="@Model.BlogDetailImage.Url" alt="Image"></a>
                <div class="post-calendar">
                    <span class="inner">
                        <span class="entry-calendar">
                            @{
                                String _datetime = string.Format("{0:dd MMM yyyy}", @Model.BlogDetailDate);
                                string[] arrListStr = _datetime.Split(' ');
                            }
                            <span class="day">@arrListStr[0]</span>

                                <span class="month">@arrListStr[1]</span>
                        </span>
                        </span>
                </div>
                <div class="overlay-effect bg-color-1"></div>
                <div class="elm-link">
                    <a href="@Model.Url" class="icon-1"></a>
                </div>
            </div><!-- /.post-media -->
            <div class="post-content-wrap clearfix">
                <h2 class="post-title">
                    <span class="post-title-inner">
                        <a href="@Model.Url">@Model.BlogDeatilTitle</a>
                    </span>
                </h2><!-- /.post-title -->
                <div class="post-meta">
                    <div class="post-meta-content">
                        <div class="post-meta-content-inner">
                            <span class="post-date item"><span class="inner"><span class="entry-date">@_datetime</span></span></span>
                            <span class="post-by-author item"><span class="inner"><a href="#">By: @Model.BlogDetailAuthor</a></span></span>
                        </div>
                    </div>
                </div><!-- /.post-meta -->
                <div class="post-content post-excerpt margin-bottom-43">
                    <p class="line-height-27 letter-spacing-005">@Model.BlogMainSubTop</p>
                    <div class="box-excerpt clearfix">
                        <div class="thumb">
                            <img src="@Model.BlogMainImage.Url" alt="Image">
                        </div>
                        <div class="text">
                            <p class="line-height-27 letter-spacing-005">@Model.BlogMainSubMidile</p>
                        </div>
                    </div>
                    <p class="line-height-27 no-margin letter-spacing-01">@Model.BlogMainSubBottom</p>
                </div><!-- /.post-excerpt -->

            </div><!-- /.post-content-wrap -->
        </article><!-- /.hentry -->
       

    </div><!-- /#inner-content -->
</div><!-- /#site-content -->


<div id="sidebar">
    <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="60" data-smobile="60"></div>
    <div id="inner-sidebar" class="inner-content-wrap">
        <div class="widget widget_search">
            <form action="#" method="get" role="search" class="search-form style-1">
                <input type="search" class="search-field" placeholder="Search..." value="" name="s" title="Search for">
                <button class="search-submit" type="submit" title="Search">Search</button>
            </form>
        </div><!-- /.widget_search -->
        <div class="widget widget_follow">
            <h2 class="widget-title"><span>FOLLOW US</span></h2>
            <div class="follow-wrap clearfix col3 g8">
                @foreach (var _BlogIconListl in Model.Parent<Blogs>().BlogIconList)
                {
                    <div class="follow-item @_BlogIconListl.BlogIconClass">
                        <div class="inner">
                            <span class="socials">
                                <a href="@_BlogIconListl.BlogIconUrl.Url"><i class="fa fa-@_BlogIconListl.BlogIconClass"></i></a>
                                <span class="text">@_BlogIconListl.BlogIconSub likes</span>
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div><!-- /.widget_follow -->
        <div class="widget widget_lastest">
            <h2 class="widget-title"><span>PRECENT POST</span></h2>
            <ul class="lastest-posts data-effect clearfix">
                @foreach (var _BlogDetail in BlogList)
                {
                    <li class="clearfix">
                        <div class="thumb data-effect-item has-effect-icon ">
                            <img src="@_BlogDetail.BlogDetailImage.Url" alt="Image">
                            <div class="overlay-effect bg-color-2"></div>
                            <div class="elm-link">
                                <a href="@_BlogDetail.Url" class="icon-2"></a>
                            </div>
                        </div>
                        <div class="text">
                            <h3><a href="@_BlogDetail.Url">@_BlogDetail.BlogDeatilTitle</a></h3>
                            <span class="post-date"><span class="entry-date">@_BlogDetail.BlogDetailDate</span></span>
                        </div>
                    </li>
                }
            </ul>
        </div><!-- /.widget_lastest -->
    </div>
</div><!-- /#sidebar -->
