@using Umbraco.NoiThat.Core
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.NoiThat.Core.Home>
@{
    Layout = "masterPage.cshtml";
}

<!-- SLIDER -->
<div class="rev_slider_wrapper fullwidthbanner-container">
    <div id="rev-slider2" class="rev_slider fullwidthabanner">
        <ul>
            @foreach (var slide in Model.HomeMainSlide)
            {
                <!-- Slide 1 -->
                <li data-transition="random">
                    <!-- Main Image -->
                    <img src="@slide.SlideImageUrl.Url" alt="" data-bgposition="center center" data-no-retina>

                    <!-- Layers -->
                    <div class="tp-caption tp-resizeme text-white font-heading font-weight-600 "
                         data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-90','-90','-90','-90']"
                         data-fontsize="['20','20','20','16']"
                         data-lineheight="['70','70','40','24']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="700"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        @slide.SlideTitle
                    </div>

                    <div class="tp-caption "
                         data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['153','153','153','153']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        <a href="@slide.SlideLinkToUrl" class="themesflat-button bg-accent big"><span>CHI TIẾT</span></a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
<!-- END SLIDER -->
<!--Feature Services-->
@if (Model.FeatureServiceContentList != null)
{
    var featureServices = Model.FeatureServiceContentList.ToList();
    @Html.Partial("~/Views/Partials/FeatureSerivcesPartial.cshtml", featureServices)
}
<!--End Feature Service-->
@* the fun starts here *@
<!-- ABOUT -->
@*<div class="row-about">
        <div class="container-fluid">
            <div class="row equalize sm-equalize-auto">
                <div class="col-md-6 half-background style-1" style="background-image: url('@Model.HomeAboutUsCoverImage.GetCropUrl()')">

                </div><!-- /.col-md-6 -->
                <div class="col-md-6 bg-light-grey">
                    <div class="themesflat-spacer clearfix" data-desktop="64" data-mobile="35" data-smobile="35"></div>
                    <div class="themesflat-content-box clearfix" data-margin="0 25% 0 4.5%" data-mobilemargin="0 0 0 4.5%">
                        <div class="themesflat-headings style-1 clearfix">
                            <h2 class="heading">@Model.HomeAboutUsTitle</h2>
                            <div class="sep has-width w80 accent-bg margin-top-11 clearfix"></div>
                            <p class="sub-heading margin-top-30">@Model.HomeAboutUsDescription</p>
                        </div>

                        <div class="elm-button">
                            <a href="#" class="themesflat-button bg-white">GET IN TOUCH</a>
                        </div>
                    </div><!-- /.themesflat-content-box -->
                    <div class="themesflat-spacer clearfix" data-desktop="76" data-mobile="60" data-smobile="60"></div>
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>*@
<!-- END ABOUT -->
