@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->



<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>@Page.Title</title>

    <meta name="subject" content="@Page.Title">
    <meta name="keywords" content="@Page.MetaKeywords" />
    <meta name="description" content="@Page.MetaDescription">

    <meta name="og:title" content="@Page.Title" />
    <meta name="og:url" content="@Request.Url" />
    <meta name="og:image" content="@Page.MainImageUrl" />
    <meta name="og:description" content="@Page.MetaDescription" />

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="~/themeassets/style.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="~/themeassets/assets/css/colors/color1.css" id="colors">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="~/themeassets/assets/icon/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="~/themeassets/assets/icon/apple-touch-icon-158-precomposed.png">

    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->

</head>

<body class="header-fixed sidebar-right header-style-2 topbar-style-1 menu-has-search">

    <div id="wrapper" class="animsition">
        <div id="page" class="clearfix">
            <!-- Header Wrap -->
            @Html.Partial("~/Views/Partials/HeaderPartial.cshtml")
            <!-- #site-header-wrap -->
            @RenderSection("FeaturedTitleBlock", required: false)
            <!-- Main Content -->
            <div id="main-content" class="site-main clearfix">
                <div id="content-wrap" class="container">

                    <!--Main content page-->
                    @RenderBody()
                    <!--End Main content page-->
                </div><!-- /#content-wrap -->
            </div><!-- /#main-content -->

            
            @Html.Partial("~/Views/Partials/FooterPartial.cshtml")
        </div><!-- /#page -->
    </div><!-- /#wrapper -->

    <a id="scroll-top"></a>

    <!-- Javascript -->
    <script src="~/themeassets/assets/js/jquery.min.js"></script>
    <script src="~/themeassets/assets/js/plugins.js"></script>
    <script src="~/themeassets/assets/js/tether.min.js"></script>
    <script src="~/themeassets/assets/js/bootstrap.min.js"></script>
    <script src="~/themeassets/assets/js/animsition.js"></script>
    <script src="~/themeassets/assets/js/owl.carousel.min.js"></script>
    <script src="~/themeassets/assets/js/countto.js"></script>
    <script src="~/themeassets/assets/js/equalize.min.js"></script>
    <script src="~/themeassets/assets/js/jquery.isotope.min.js"></script>
    <script src="~/themeassets/assets/js/owl.carousel2.thumbs.js"></script>

    <script src="~/themeassets/assets/js/jquery.cookie.js"></script>
    <script src="~/themeassets/assets/js/gmap3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIEU6OT3xqCksCetQeNLIPps6-AYrhq-s&amp;region=GB"></script>
    <script src="~/themeassets/assets/js/shortcodes.js"></script>
    <script src="~/themeassets/assets/js/main.js"></script>

    <!-- Revolution Slider -->
    <script src="~/themeassets/includes/rev-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/themeassets/includes/rev-slider/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/themeassets/assets/js/rev-slider.js"></script>
    <!-- Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading -->
    <script src="~/themeassets/includes/rev-slider/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/themeassets/includes/rev-slider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/themeassets/includes/rev-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/themeassets/includes/rev-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/themeassets/includes/rev-slider/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/themeassets/includes/rev-slider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/themeassets/includes/rev-slider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/themeassets/includes/rev-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/themeassets/includes/rev-slider/js/extensions/revolution.extension.video.min.js"></script>
    @RenderSection("ExtendScript", required: false)
</body>


</html>



